<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app"></div>
    <template id="my-app">
      <h2>电影排行榜</h2>
      <ul>
        <li v-for="(movie,index) in movies">{{index + 1 }}.{{movie}}</li>
      </ul>
      <div>
        <input type="text" v-model="newMovie" placeholder="请输入添加的电影" />
      </div>
      <button @click="addMovie">添加电影</button>
      <button @click="removeMovie(index)" v-for="(movie, index) in movies" :key="index">
        删除第{{index+1}}个电影
      </button>
    </template>

    <script src="./js/vue.js"></script>
    <script>
      const App = {
        template: "#my-app",
        data() {
          return {
            newMovie: "",
            movies: ["《肖申克的救赎》", "《霸王别姬》", "《泰坦尼克号》"],
          };
        },
        methods: {
          addMovie() {
            if (this.newMovie.trim() === "") {
              return;
            }
            this.movies.push(this.newMovie);
            this.newMovie = "";
          },
          removeMovie(index) {
            this.movies.splice(index, 1);
          },
        },
      };
      Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
